<div class="container">
  <!-- Row for the search bar -->
  <div class="row">
    <div class="col-12">
      <input
        type="text"
        class="form-control my-3"
        [(ngModel)]="searchTerm"
        placeholder="Search Employee..."
      />
    </div>
  </div>

  <!-- Row for employee cards -->
  <div class="row">
    <div
      class="col-md-4 mb-4"
      *ngFor="let employee of employees | highlight : searchTerm"
    >
      <!-- Apply the red border to the entire card dynamically -->
      <div
        [ngClass]="{
          'border-red': employee.name
            .toLowerCase()
            .includes(searchTerm.toLowerCase())
        }"
      >
        <app-employee-card
          [employee]="employee"
          [searchTerm]="searchTerm"
        ></app-employee-card>
      </div>
    </div>
  </div>
</div>
